{% extends 'base.html.twig' %}

{% block content %}

    <div class="about-section layout-padding margin-90">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-main adjust-position">
                        <div class="about-title">About BookBinder</div>
                        <p class="about-text">BookBinder is the perfect platform for book enthusiasts to connect, turning the library into a welcoming home. Discover fellow book lovers nearby and engage in conversations about your favorite books.

                            At BookBinder, we understand the power of books to bring people together and ignite imaginations. We've created a space where avid readers can forge meaningful connections with like-minded individuals in their local area.

                            Signing up is easy. Create your profile, browse through other book lovers' profiles, and connect with those who share your literary interests. Meet up at cozy cafes, tranquil parks, or even your local library to discuss the novels that have touched your heart, characters that have stayed with you, and the themes that have piqued your curiosity.

                            BookBinder goes beyond connecting people; it's about building a community where the love for literature knows no bounds. Join us in celebrating the joy of books, where stories are cherished and shared, and where lifelong friendships are formed.

                            Whether you're passionate about classic literature, contemporary novels, or niche genres, BookBinder is your literary companion. Let's weave the threads of our shared passion for books, creating a tapestry of friendship, knowledge, and boundless imagination.

                            Welcome to BookBinder, where the library becomes your home, and vibrant conversations and cherished connections bring the pages of books to life.</p>
{#                        <div class="about-bt"><a href="#">About More</a></div>#}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-img"><img src="{{ asset('images/people-reading.jpg') }}" alt="peopleReading"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}